*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;

}
.navbar img{
    margin-left: 5vw;
}
.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right:5vw ;
    gap: 8vw;
    
}
.nav-items li a{
    color: #000000;
    text-align: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:linear-gradient(0deg, rgba(23, 16, 16, 0.30) 0%, rgba(23, 16, 16, 0.30) 100%), url(./assets/Rectangle\ 48.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0 10rem 0 ;
    gap:3rem;
}
.section1 h1{
text-align: center;
font-size: 3rem;
font-style: normal;
font-weight: 700;
}

.app-button {
    display: flex;
    gap: 5rem;
    
}
#app-button1 {
    border: none;
    border-radius: 30px;
    background: #FA4A0C;
    width: auto;
    padding: .5rem 1.5rem;
    color: var(--Light-text, #FFF);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
#app-button2 {
    border: none;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: none;
    width: auto;
    padding: .5rem 1.5rem;
    color: var(--Light-text, #FFF);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.mobile-image{
    position: absolute;

}
#mobile1{
    top: 70vh;
    left: 20vw;
}
#mobile2{
    top: 105vh;
    right: 30vw;
}
.section2{
    margin: 90vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
.section2 hr{
    color: rgb(35, 35, 35);
    width: 60vw;
    height: 3px;
    margin-bottom: 3rem;
}
.full-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.container div h3{
    color: #FA4A0C;
}
#set2 div{
    margin-left: 20vw;
}
#set2{
    gap:10rem;
}
.section4{
    background: linear-gradient(0deg, rgba(37, 43, 66, 0.30) 0%, rgba(37, 43, 66, 0.30) 100%), url(./assets/background.png), lightgray 50% / cover no-repeat;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#app-button3{
    border: none;
    border-radius: 1rem;
    background: #FA4A0C;
    width: auto;
    padding: .5rem 1.5rem;
    color: var(--Light-text, #FFF);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
#app-button4{
    border: none;
    border-radius: 1rem;
    border: 1px solid #FFF;
    background: none;
    width: auto;
    padding: .5rem 1.5rem;
    color: var(--Light-text, #FFF);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}